@import url('https://fonts.googleapis.com/css?family=Krub:400,500,700');

*,*:before, *:after{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
}

a{
    text-decoration: none;
    color: #bd0909;
}

#app {
    font-family: 'Krub', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #999;
  }
#nav {
    display: flex;  
    justify-content: center;
    padding: 30px;
    display: block;
    a{
      color: #999;
      font-size: 1.8em;
      transition: color 0.3s ease-in;
      &.router-link-exact-active {
        color: #bd0909;
      }
      &:hover{
        color: #bd0909;
      }
      &:not(:last-child){
            margin-right: 3em
        }
    }
}

.logo{
    a{
        display: flex;
    }
    h1{
        font-weight: 400;
        font-size: 3em;
        &:not(:last-child){
            padding-right: 0.5em;
        }
        &:nth-child(1){
            color: brown;
        }
        &:nth-child(2){
            color: #666;
        }
    }
}  

header, .content{
    padding: 2em;
}

.content{
    width: 94%;
    margin: 2em auto 5em auto;
    min-height: 400px;
}


.post-area {
    display:flex;
    flex-flow:wrap;
    justify-content: space-between;
    .post {
        width: 270px;
        margin-bottom: 2em;
        height: 550px;
        transition: all 0.3s ease-in;
        .post-thumb img{
            width:100%
        }
    }
    .post-title{
        font-size: 2em;
        color: #bd0909;
        padding: 0.5em;
        line-height: 27px;
    }
}

.back{
    padding: 1em 0.5em;
    h1{
        color: #bd0909;
        margin-top: 1.5em;
    }
    .post-category{
        margin: 2.5em 0;
        font-size: 1.2em
    }
    a{
        display:block;
        padding: 1em 0;
        width:140px;
        text-align:center;
        margin: 0 auto;
    }
   /*  a:hover{
        
        transform: scale(1.2,1.2);
        -webkit-transform: scale(1.2,1.2);
        -moz-transform: scale(1.2,1.2);
    } */

}

@media only screen and (min-width: 480px) {
	.card-main{
		perspective:1500px;
	}
	.card-main:hover .flip{
		transform: rotateY(180deg);
	}
	.card-main,
	.front,
	.back {
	  width: 100%;
	  height: 550px;
	}

	.flip {
	  transition: 0.6s;
	  transform-style: preserve-3d;
	  position: relative;
	}

	.front,
	.back {
	  backface-visibility: hidden;
	  position: absolute;
	  top: 0;
	  left: 0;
	}

	.front {
	  z-index: 2;
	  transform: rotateY(0deg);
	}

	.back {
	  transform: rotateY(180deg);
	}
}

.card{
	border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    border-radius: 7px 7px 7px 7px;
    overflow: hidden;
} 

.form{
    width: 80%;
    margin: 0 auto;
    > div {
        margin-bottom: 2em;
    }
}

@media only screen and (min-width: 720px){
    .form{
        width: 50%;
    }
}

input, textarea {
    font-family: 'Krub';
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    padding: 1em;
    font-size: 1em;
    width: 100%;
    color: #999;
    outline: none;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &:focus{
        color: #999;
        border-color: #ddd;
        transform: scale(1.1,1.1);
    }
}

textarea {
    height: 30em;
}



.btn{
    background: #bd0909;
    padding: 1em;
    width: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border:none;
    color:white;
    cursor: pointer;
    outline:none;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:hover{
        transform: scale(1.2,1.2);
        -webkit-transform: scale(1.2,1.2);
        -moz-transform: scale(1.2,1.2);
    }
    &:active, &:visited{outline:none}
}

.text-danger{border-color:#bd0909; color: #bd0909;}

.about {
    h1{
        color: #666;
        margin: 2em 0 0.5em 0;
        &:first-child{margin-top:0}
    }
    p{
        margin: 0.3em 0;
        font-size: 1.8em;
    }
    ul{padding:0}
    li{
        list-style: none;
        margin-bottom: 0.5em
    }
}

.mobile-toggle{
    display: none;
    position: absolute;
    z-index:200;
    top: 3em;
    right: 2em;
    width: 25px;
    height: 35px;
    cursor: pointer;
    span, span:before, span:after{
        width: 30px;
        height: 6px;
        background-color: #000;
        display: block;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
    }
    span {
        margin: 0 auto;
        position: relative;
        top: 12px;

        &:before, &:after{
            position: absolute;
            content: '';
        }
        &:before{
            margin-top: -12px;   
            -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
            -webkit-transition-duration: 0.1s; transition-duration: 0.1s;
            -webkit-transition-delay: 0.1s, 0s; transition-delay: 0.1s, 0s; 
        }
        &:after{
            margin-top: 12px;
            -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
            -webkit-transition-duration: 0.1s; transition-duration: 0.1s;
            -webkit-transition-delay: 0.1s, 0s; transition-delay: 0.1s, 0s;    
        }
        -webkit-transition-duration: 0.1s; transition-duration: 0.1s;
	    -webkit-transition-delay: 0.1s; transition-delay: 0.1s;
    }
    &.open span{
        background-color: rgba(0,0,0,0.0);
	    -webkit-transition-delay: 0.0.5s; transition-delay: 0.0.5s;    
    }
    &.open span::before{
        margin-top: 0;
        -webkit-transform: rotate(45deg); transform: rotate(45deg);
        -webkit-transition-delay: 0s, 0.1s; transition-delay: 0s, 0.1s;
    }
    &.open span::after{
        margin-top: 0;
        -webkit-transform: rotate(-45deg); transform: rotate(-45deg);
        -webkit-transition-delay: 0s, 0.1s; transition-delay: 0s, 0.1s;
    }
    &:hover span, &:hover span:after, &:hover span:before{
        transition-timing-function: cubic-bezier(.57,-0.01,.31,1.6);
        -webkit-transition-timing-function: cubic-bezier(.57,-0.01,.31,1.6);
        transition-delay: 0s;
        -webkit-transition-delay: 0s;
    }
    &:hover span{
        transform: scale(0.8,0.8)
    }

    &:hover span:after{
        margin-top: 8px;
    }
    &:hover span:before{
        margin-top: -8px;
    }
}

#nav__mobile{
    background: rgba(256,256,256,0);
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index:-100;
    transition: background 0.3s ease-in;
    span{
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height:100%;
        a{
            font-size: 3em;
            opacity:0;
            visibility: hidden;
            margin-bottom: 1em;
            color: #999;
            transition: color 0.3s ease-in;
            &.router-link-exact-active {
              color: #bd0909;
            }
            &:hover{
              color: #bd0909;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .mobile-toggle{display:block;}
    #nav{display:none;}
    #nav__mobile.open{
        z-index:100;
        background: rgba(256,256,256,0.85);
        a{
            animation: mobileMenuFade 0.3s ease-in forwards;
            &:nth-child(1){
                animation-delay: 0.3s;
            }
            &:nth-child(2){
                animation-delay: 0.5s
            }
            &:nth-child(3){
                animation-delay: 0.7s
            }
            &:not(:last-child) {
               margin-right:0;
           }
        }
        .background{
            background: rgba(256,256,256, 0.85);
        }
    }
}

@keyframes mobileMenuFade{
    from{
        opacity: 0
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

#copyright{
    padding: 1em;
}


